<ion-header>
  <ion-toolbar>
    <ion-title>My Winery {{this.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="winery">
      <ion-row *ngFor="let wines of this.winesList">
        <ion-col  *ngFor="let wine of wines" >
          <div class="wineBox">
              <img (click)="this.wineDetailsModal(wine.id)" class="bottle_end" src="http://www.abellanbottle.com/_assets/_images/abellan_bottle_bottom_view.png">
              <span (click)="this.wineDetailsModal(wine.id)" class="wine_name">{{wine.title}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
