.bottle_end {
    width: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wine_name{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}