.bottle_end {
    width: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.wine_name{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    color: wheat;
}
.winery{
    background: url("https://www.sketchuptextureclub.com/public/texture_m/0085-dark-fine-wood-texture-seamless.jpg");
    background-size: 100%;
}