.bottle_end {
    width: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.wine_name{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}
.winery{
    background: url("https://i.ebayimg.com/images/g/hKgAAOSwXYtY18S-/s-l1600.jpg");
    background-size: 100%;
}