<ion-header>
  <ion-toolbar>
    <ion-title>{{this.id}}'s cellar</ion-title>
    <ion-button color='primary' (click)=this.storeData()>Save</ion-button>
    <ion-button color='primary' (click)=this.restoreData()>Restore</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="winery">
      <ion-row *ngFor="let wines of this.winesList">
        <ion-col  *ngFor="let wine of wines" >
          <div class="wineBox">
              <img (click)="this.wineDetailsModal(wine)" class="bottle_end" src="https://i.imgur.com/SNzxPMK.png">
              <span (click)="this.wineDetailsModal(wine)" class="wine_name">{{wine.title}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
