<ion-header>
  <ion-toolbar>
    <ion-item class="close-btn ion-float-right">
      <ion-icon size="large" name="close-circle" color="danger" (click)="closeModal()"></ion-icon>
    </ion-item>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h2>{{wine.title}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <img src="https://cdn0.iconfinder.com/data/icons/valentines-day-add-on/48/v-23-512.png">
      </ion-col>
      <ion-col size="6">
        <p>Variety : {{wine.variety}}</p>
        <p>Location : {{wine.country}} - {{wine.province}} - {{wine.region_1}}</p>
        <p>Note : {{wine.points}}%</p>
        <p>Avg Price : {{wine.price}}€</p>
        <ion-button size="small" expand="full" color="primary" (click)="addToCave(this.wine.id)">
          Add to my cellar
        </ion-button>
        <ion-button size="small" expand="full" color="warning" (click)="addToCave(this.wine.id)">
          Add to whishlist
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      {{wine.designation}}
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      Commentaires
    </ion-list-header>
    
    <ion-item>
      <ion-avatar>
        <ion-icon size="large" name="person"></ion-icon>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>{{wine.taster_name}}({{wine.taster_twitter_handle}})</h2>
        <p>{{wine.description}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
