<ion-header>
  <ion-toolbar>
    <ion-item class="close-btn ion-float-right">
      <ion-icon size="large" name="close-circle" color="danger" (click)="closeModal()"></ion-icon>
    </ion-item>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h2>{{myWine.title}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <img src="https://cdn0.iconfinder.com/data/icons/valentines-day-add-on/48/v-23-512.png">
      </ion-col>
      <ion-col size="6">
        <p>Variety : {{myWine.variety}}</p>
        <p>Location : {{myWine.country}} - {{myWine.province}} - {{myWine.region_1}}</p>
        <p>Note : {{myWine.points}}%</p>
        <p>Avg Price : {{myWine.price}}€</p>
        <ion-button size="small" expand="full" color="primary" (click)="addToCave(this.id)">
          Add to cave
        </ion-button>
        <ion-button size="small" expand="full" color="warning" (click)="addToCave(this.id)">
          Add to whishlist
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      {{myWine.designation}}
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      Commentaires
    </ion-list-header>
    
    <ion-item>
      <ion-avatar>
        <ion-icon size="large" name="person"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Pseudo</h2>
        <h3>Titre review</h3>
        <p>Commentaire</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <ion-icon size="large" name="person"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Pseudo</h2>
        <h3>Titre review</h3>
        <p>Commentaire</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

