<ion-header>
  <ion-toolbar>
    <ion-title>{{wines[this.id].name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <img src="https://cdn0.iconfinder.com/data/icons/valentines-day-add-on/48/v-23-512.png">
      </ion-col>
      <ion-col size="6">
        <h2>{{wines[this.id].name}}</h2>
        <p>Type : {{wines[this.id].type}}</p>
        <p>Note : {{wines[this.id].note}}/20</p>
        <p>Avg Price : {{wines[this.id].price}}€</p>
        <ion-button size="small" expand="full" color="primary" (click)="addToCave(this.id)">
          Add to cave
        </ion-button>
        <ion-button size="small" expand="full" color="warning" (click)="addToCave(this.id)">
          Add to whishlist
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      {{wines[this.id].description}}
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      Commentaires
    </ion-list-header>
    
    <ion-item>
      <ion-avatar>
        <ion-icon size="large" name="person"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Pseudo</h2>
        <h3>Titre review</h3>
        <p>Commentaire</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <ion-icon size="large" name="person"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Pseudo</h2>
        <h3>Titre review</h3>
        <p>Commentaire</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

